.main {
  display: flex;
  padding: 4rem 5rem 0rem 5rem;
  background: #f8f8f1;
}

.main .leftContent .con {
    padding: 6rem 0rem;
}

.main .leftContent h1 {
  font-size: 5rem;
  font-weight: 500; 
  color: rgb(51, 50, 50); 
}

.main .leftContent span {
    color: red;
}

.main .leftContent .exp {
    display: flex;
    align-items: center;
    gap: .3rem;
    color: rgb(51, 50, 50);
}

.main .leftContent .exp h2 {
    font-size: 3rem;
}

.main .leftContent .exp p {
    font-size: .9rem;
    font-weight: 500;
}


/* image  */

.main img {
    width: auto;
    height: 33rem;
}

@media screen and (min-width: 1536px) {
    .main {
        max-width: 1280px;
        margin: auto;
    }
}