.main {
  display: flex;
  padding: 4rem 5rem 0rem 5rem;
  background: #f8f8f1;
}

.main .leftContent .con {
    padding: 6rem 0rem;
}

.main .leftContent h1 {
  font-size: 5rem;
  font-weight: 500; 
  color: rgb(51, 50, 50); 
}

.main .leftContent span {
    color: red;
}

.main .leftContent .exp {
    display: flex;
    align-items: center;
    gap: .3rem;
    color: rgb(51, 50, 50);
}

.main .leftContent .exp h2 {
    font-size: 3rem;
}

.main .leftContent .exp p {
    font-size: .9rem;
    font-weight: 500;
}


/* image  */

.main img {
    width: auto;
    height: 33rem;
}

.main .rightContent {
    position: absolute;
    right: -7rem;
    color: rgb(51, 50, 50); 
}

.main .rightContent p {
    width: 55%;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 4rem;
}

/* Media Queries for small devices */

@media screen and (max-width: 600px) {
    .main {
        padding: 3rem 2rem 0rem 2rem;
        flex-direction: column;
    }

    .main .leftContent h1 {
        font-size: 3.5rem;
        font-weight: 600;
    }

    .main .leftContent .con, .main .leftContent .exp {
        display: none;
    }

    .main img {
        margin: 3rem 0rem 0rem -.5rem;
        width: auto;
        height: 27rem;
    }

    .main .both {
        display: flex;
        flex-direction: column-reverse;
    }

    .main .rightContent {
        position: relative;
        right: 0rem;
    }

    .main .rightContent p {
        width: 80%;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 1rem;
    }
  }