.main {
  display: flex;
  justify-content: center;
  padding: 5rem 5rem;
  color: rgb(51, 50, 50);
}

.main .leftSide {
  display: grid;
  gap: 2rem;
}

.main .leftSide .mainDiv {
  display: flex;
  align-items: center;
  padding: 1.5rem 1.5rem;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
  gap: 1rem;
  cursor: pointer;
}

.main .leftSide .mainDiv:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  transition: 0.3s ease-in-out;
}

.main .leftSide .icon {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.main .leftSide .icon img {
  width: auto;
  height: 1rem;
}

.main .rightSide {
  margin-left: 14rem;
}

.main .rightSide h1 {
  font-size: 3rem;
}

.main .rightSide p {
  line-height: 2;
  padding: 1rem 0rem;
}

.main .rightSide .client {
  display: flex;
  gap: 3rem;
}

.main .rightSide .client h2 {
  font-size: 2.5rem;
}

/* Media Queries for small devices */

@media screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    padding: 4rem 2rem 3rem 2rem;
  }

  .main .rightSide {
    margin-left: 0rem;
  }

  .main .rightSide h1 {
    font-size: 2.7rem;
    padding-bottom: 1rem;
  }

  .main .rightSide p {
    line-height: 2;
    padding: 0rem 0rem 1rem 0rem;
  }

  .main .rightSide .client {
    padding-bottom: 2rem;
  }
}

/* Media Queries for medium devices */

@media screen and ((min-width: 600px) and (max-width: 1024px)) {
  .main {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding: 4rem 4rem 3rem 4rem;
  }

  .main .rightSide {
    margin-left: 0rem;
  }

  .main .rightSide h1 {
    font-size: 4.5rem;
    padding-bottom: 1rem;
  }

  .main .rightSide p {
    line-height: 2;
    font-size: 2rem;
    padding: 0rem 0rem 1rem 0rem;
  }

  .main .rightSide .client {
    padding-bottom: 2rem;
  }

  .main .leftSide {
    grid-template-columns: repeat(2, 1fr);
  }

  .main .leftSide .mainDiv span {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .main .leftSide .icon {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .main .leftSide .icon img {
    width: auto;
    height: 1.5rem;
  }

  .main .rightSide .client span {
    font-weight: 500;
  }
}
